* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

@font-face {
    font-family: 'absterregular';
    src: url('../../fonts/abster-500-webfont.woff2') format('woff2'),
        url('../../fonts/abster-500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

// Variables declared
$primary-color: #FF2800;
$secondary-color: #B20600;
$font-style: 'Poppins', sans-serif;

// CONTACT

.main_contact_container {
    width: 100%;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .contact_container {
        width: 90%;
        margin-top: 3.5rem;
        border-radius: 2px;
        background-image: url('../../image/contact.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 50px;

        .contact_container_text {
            width: 45%;
            padding: 10px;
            font-family: $font-style;

            .contact_text {
                width: 100%;
                font-family: absterregular;
                font-size: 4rem;
                letter-spacing: .6rem;
                font-weight: bold;
                text-align: start;
                text-transform: uppercase;
                color: white;
            }

            & p {
                color: white;
                font-family: $font-style;
                font-size: 1.6rem;
                letter-spacing: 1.3px;
            }

            .social_media_icons {
                font-size: 2rem;
                display: flex;
                letter-spacing: 10px;
                font-size: 2.5rem;

                .instagram {
                    background: -webkit-linear-gradient(#515BD4, #8134AF, #DD2A7B, #FEDA77);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                .facebook {
                    color: #3b5998;
                }

                .linkedin {
                    color: #0077b5;
                }

                .github {
                    color: #6e5494;
                }
            }
        }



        .contact_form {
            width: 35%;
            background-color: rgba($color: #ffffff, $alpha: 1);
            box-shadow: 7px 7px 25px #000000;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-radius: 5px;

            & form {
                width: 100%;
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                & input {
                    width: 100%;
                    outline: none;
                    border: .5px solid rgb(220, 220, 220);
                    background: none;
                    border-radius: 5px;
                    padding: 5px;
                    height: 8vh;
                    font-size: 1.5rem;
                    font-family: $font-style;
                    letter-spacing: 1.5px;
                }

                & textarea {
                    width: 100%;
                    outline: none;
                    padding: 5px;
                    border: .5px solid rgb(220, 220, 220);
                    font-size: 1.5rem;
                    font-family: $font-style;
                    letter-spacing: 1.5px;
                    resize: none;
                }

                & button {
                    height: 6.5vh;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    background-color: #0b0c11;
                    width: 50%;
                    padding: 5px;
                    font-size: 1.5rem;
                    color: white;
                    font-family: $font-style;
                    letter-spacing: 2px;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        transform: scaleX(1.02);
                    }
                }
            }
        }
    }


}

///////////////////////////////////////

// media querry
@media (max-width: 998px) {
    html {
        font-size: 45%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 45%;
    }
}